<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login Page</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <span>{{messages[0]}}</span>
    {% endif %}
    {% endwith %}
    <form action="/login", method="POST">
        <p>
            Email:
            <input type="text", name="email"></p>
        <p>
            Password:
            <input type="password", name="password"></p>
        <button type="submit">Login</button>
    </form>
    <br>
    <a href="/register">Go to register page</a>
</body>
</html>